body{
	margin: 0;
	padding: 0;
	font-family: Open Sans;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	letter-spacing: .1em;
	line-height: 1.3em;
	text-transform: none;
	color: #333;
}
header{
	padding: 40px;
}
header img{
	height: 150px;
	margin: auto;
	display: block;
}

main{
	padding: 120px 100px;
	max-width: 50%;
	margin: auto;
}
main h1{
	line-height: 1.3em;
}
main a{
	color: #cd1329;
	border-bottom-color: rgba(205,19,41,.3);
	padding-bottom: .05em;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	transition: border-color .15s ease-out,color .15s ease-out;
	text-decoration: none;
}
main a:hover{
	color: rgba(205,19,41,.6);
	border-color: rgba(205,19,41,.15);
}
footer{
	background-color: #123d89;
	padding: 4rem 0;
}


/*slider*/
.slider{
	height: 400px;
	width: 100%;
	overflow: hidden;
}
.slider img{
	object-fit: contain;
	height: 400px;
	margin: auto;
	padding: 0 2px;
}
.sliderContentButtunsContainer {
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
}
.sliderContentButtun {
	position: unset;
	display: inline-block;
	margin: 15px 8px;
	width: 20px;
	height: 20px;
}

/*slider-buttons*/
.sliderButton{
	position: absolute;
	width: 50px;
	height: 50px;
	top: calc( 50% - 25px );
	background-color: #eeeeee50;
	border-radius: 50%;
	cursor: pointer;
}
.sliderButton:before, .sliderButton:after{
	content: '';
	position: absolute;
	top: 4px;
	left: 20px;
	height: 26px;
	width: 6px;
	background-color: #fff;
	border-radius: 10px;
	animation-duration: 0.3s; 
}
.sliderButton:before{
	transform: rotate(45deg); 
}
.sliderButton:after{
	transform: rotate(-45deg);
	top: 20px; 
}
.sliderButton:active:before{
	animation-name: sliderButons; 
}
.sliderButton:active:after{
	animation-name: sliderButonsRevers; 
}
.sliderButton.sliderPrevButton{
	left: 3%; 
}
.sliderButton.sliderNextButton{
	right: 3%; 
}
.sliderButton.sliderNextButton:before, .sliderButton.sliderNextButton:after{
	left: 25px; 
}
.sliderButton.sliderNextButton:before{
	transform: rotate(-45deg); 
}
.sliderButton.sliderNextButton:after{
	transform: rotate(45deg); 
}
.sliderButton.sliderNextButton:active:before{
	animation-name: sliderButonsRevers; 
}
.sliderButton.sliderNextButton:active:after{
	animation-name: sliderButons; 
}
@keyframes sliderButons {
	from { transform: rotate(45deg); }
	to { transform: rotate(225deg);  } 
}

@keyframes sliderButonsRevers {
	from { transform: rotate(-45deg); }
	to { transform: rotate(-225deg); } 
}
